.main {
  background-image: url("/bg-3.avif"), url("/bg-2.avif"), url("/bg-1.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: calc(100dvh - 125px);
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #114033;

  h1 {
    opacity: 0;
    position: absolute;
    left: -5000px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 600px;
}

.imageWrapper {
  position: relative;
  width: clamp(240px, 85vw, 600px);
  aspect-ratio: 512 / 367;
  margin-inline: auto;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.link {
  color: #fff;
  font-size: 18px;
  background: #114033;
  padding: 12px 24px;
  border-radius: 500px;
  border: 2px solid #b5ce83;
  transition: background 0.3s, color 0.3s;
  font-weight: 600;

  &:hover {
    background: #b5ce83;
    color: #114033;
  }
}

.footer {
  background: #b5ce83;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0 4px;
}

.logoWrapper {
  position: relative;
  aspect-ratio: 2048 / 269;
  width: clamp(360px, 90vw, 800px);
}
